CREATE DATABASE PublicData_30102020
GO
USE PublicData_30102020
GO

-- removed HeadId from Course
-- added gender
-- private info isOwnBicycle - make is null allowed
-- MaritalStatus changed from bool to FK int -> need to change the column name as well. (Add Id in FK)
-- IsAlive and DateOfExpiry moved to private info

CREATE TABLE TransactionLog
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	UserId nvarchar(450) NOT NULL,
	OperationType nvarchar(450) NOT NULL, -- create, update, delete, etc
	CreatedAt datetime NOT NULL DEFAULT GETDATE()
);

CREATE TABLE TransactionLogValue
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	TransactionLogId int REFERENCES TransactionLog(Id) NOT NULL,
	TableName varchar(50) NOT NULL,
	PreviousValue nvarchar(500) NULL,
	NewValue nvarchar(500) NULL,
);

CREATE TABLE Country
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	[Name] varchar(50) NOT NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE [State]
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	CountryId int NOT NULL REFERENCES Country(id),
	[Name] varchar(50) NOT NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE City
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	StateId int NOT NULL REFERENCES [State](Id),
	[Name] varchar(50) NOT NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE District
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	StateId int NOT NULL REFERENCES State(Id),
	[Name] varchar(50) NOT NULL,
	LongText nvarchar(500) NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE Taluka
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	DistrictId int NOT NULL REFERENCES District(Id),
	[Name] varchar(50) NOT NULL,
	LongText nvarchar(500) NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE Header
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	Title varchar(50) NOT NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE Detail
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	HeaderId int NOT NULL REFERENCES Header(Id),
	[Value] varchar(100) NOT NULL,
	ExtraField varchar(250) NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE Person
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	LoginId nvarchar(450) NULL,
	PersonTypeId int NOT NULL REFERENCES Detail(Id),
	FirstName varchar(50) NOT NULL,
	MiddleName varchar(50) NULL,
	LastName varchar(50) NOT NULL,
	Gender char NOT NULL,
	BirthDate date NULL,
	BirthLocation varchar(50) NULL,
	LongText nvarchar(500) NULL,
	HighLightText nvarchar(100) NULL,
	Keywords varchar(250) NULL,
	IsWorker bit NOT NULL DEFAULT 0,
	WorkFrequencyId int NOT NULL REFERENCES Detail(Id),
	JoiningDate date NOT NULL default GETDATE(),
	JoinedAsId int NULL,
	CountryId int NULL REFERENCES Country(Id),
	ProfilePicturePath varchar(250) NULL,
	HeroPicturePath varchar(250) NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE Department
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	[Name] varchar(50) NOT NULL,
	StartDate date NOT NULL,
	EndDate date NULL,
	ContactNo varchar(15) NULL,
	EmailId varchar(50) NULL,
	WebLink varchar(100) NULL,
	LongText varchar(500) NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE PersonDepartment	-- e.g. IT Department
(
	Id int PRIMARY KEY NOT NULL Identity(1,1),
	PersonId int NOT NULL REFERENCES Person(Id),
	DepartmentId int NOT NULL REFERENCES Department(Id),
	[Role] varchar(20) NULL,
	StartDate date NOT NULL DEFAULT GETDATE(),
	EndDate date NULL,
	LongText varchar(500) NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE Program
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	DepartmentId int NOT NULL REFERENCES Department(Id),
	[Name] varchar(50) NOT NULL,
	AddressLine1 varchar(100) NULL,
	AddressLine2 varchar(100) NULL,
	StartDate date NOT NULL,
	EndDate date NULL,
	ContactNo varchar(15) NULL,
	EmailId varchar(50) NULL,
	WebLink varchar(100) NULL,
	LongText varchar(500) NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE PersonProgram
(
	Id int PRIMARY KEY NOT NULL Identity(1,1),
	PersonId int NOT NULL REFERENCES Person(Id),
	ProgramId int NOT NULL REFERENCES Program(Id),
	[Role] varchar(20) NULL,
	StartDate date NOT NULL DEFAULT GETDATE(),
	EndDate date NULL,
	LongText varchar(500) NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE SubProgram
(
	Id int PRIMARY KEY NOT NULL IDENTITY(1,1),
	ProgramId int REFERENCES Program(Id),
	AddressLine1 varchar(100) NULL,
	AddressLine2 varchar(100) NULL,
	StartDate date NOT NULL DEFAULT GETDATE(),
	EndDate date NULL,
	ContactNo varchar(15) NULL,
	EmailId varchar(50) NULL,
	WebLink varchar(100) NULL,
	LongText varchar(500) NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE PersonSubProgram
(
	Id int PRIMARY KEY NOT NULL Identity(1,1),
	PersonId int NOT NULL REFERENCES Person(Id),
	SubProgramId int NOT NULL REFERENCES Program(Id),
	[Role] varchar(20) NULL,
	StartDate date NOT NULL DEFAULT GETDATE(),
	EndDate date NULL,
	LongText varchar(500) NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE Course
(
	Id int PRIMARY KEY NOT NULL Identity(1,1),
	DepartmentId int REFERENCES Department(Id) NULL,
	ProgramId int REFERENCES Program(Id) NULL,
	SubProgramId int REFERENCES SubProgram(Id) NULL,
	CourseName varchar(50) NOT NULL,
	StartDate date NOT NULL DEFAULT GETDATE(),
	EndDate date NULL,
	ContactNo varchar(15) NULL,
	Email varchar(50) NULL,
	LongText varchar(500) NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE CourseHead
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	PersonId int NOT NULL REFERENCES Person(Id),
	CourseId int NOT NULL REFERENCES Course(Id),
	StartDate date NOT NULL DEFAULT GETDATE(),
	EndDate date NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE Batch
(
	Id int PRIMARY KEY NOT NULL Identity(1,1),
	CourseId int REFERENCES Course(Id) NOT NULL,
	StartDate date NOT NULL DEFAULT GETDATE(),
	EndDate date NULL,
	Year varchar(10) NULL,
	ContactNo varchar(15) NULL,
	Email varchar(50) NULL,
	LongText varchar(500) NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE PersonBatch	-- SHG, tailoring, Mobile Lab etc
(
	Id int PRIMARY KEY NOT NULL Identity(1,1),
	PersonId int NOT NULL REFERENCES Person(Id),
	[Role] varchar(20) NULL,
	StartDate date NOT NULL DEFAULT GETDATE(),
	EndDate date NULL,
	LongText varchar(500) NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE PersonAchievement
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	PersonId int NOT NULL REFERENCES Person(Id),
	AwardLevelId int NULL REFERENCES Detail(Id),
	Title varchar(50) NOT NULL,
	GivenBy varchar(100) NULL,
	[Format] varchar(50) NULL,
	Reason varchar(50) NULL,
	ReceivedDate date NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE PersonAddress
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	PersonId int NOT NULL REFERENCES Person(Id),
	CountryId int NULL REFERENCES Country(Id),
	StateId int NULL REFERENCES State(Id),
	CityId int NULL REFERENCES City(Id),
	OtherCity varchar(50) NULL,
	TalukaId int NULL REFERENCES Taluka(Id),
	OtherTaluka varchar(50) NULL,
	DistrictId int NULL REFERENCES District(Id),
	OtherDistrict varchar(50) NULL,
	Village varchar(50) NULL,
	IsPermanent bit NOT NULL,
	RoadName varchar(25) NULL,
	Line1 varchar(100) NULL,
	Line2 varchar(100) NULL,
	ZipCode varchar(10) NULL,
	FromYear int NULL,
	ToYear int NULL,
	RoomsInHome int NULL,
	IsGovtBuildUp bit NULL,
	HomeStatusId int NULL REFERENCES Detail(Id),
	LocalityClassId int NULL REFERENCES Detail(Id),
	ResidentialStatusId int NULL REFERENCES Detail(Id),
	ResidentialAreaId int NULL REFERENCES Detail(Id),
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE PersonContact
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	PersonId int NOT NULL REFERENCES Person(Id),
	ContactTypeId int NULL REFERENCES Detail(Id),
	Detail varchar(100) NULL,
	IsDefault bit NOT NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE PersonDisability
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	PersonId int NOT NULL REFERENCES Person(Id),
	Problem varchar(50) NOT NULL,
	Detail varchar(250) NULL,
	FromYear int NULL,
	ToYear int NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE School
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	[Name] varchar(100) NOT NULL,
	ContactPersonName varchar(50) NULL,
	ContactPersonDesignation varchar(50) NULL,
	ContactPersonContactNo varchar(50) NULL,
	AddressLine1 varchar(100) NULL,
	AddressLine2 varchar(100) NULL,
	TalukaId int NULL REFERENCES Taluka(Id),
	OtherTaluka varchar(50) NULL,
	DistrictId int NULL REFERENCES District(Id),
	OtherDistrict varchar(50) NULL,
	StateId int REFERENCES State(Id) NULL,
	PhoneNo varchar(50) NULL,
	Email varchar(50) NULL,
	WebLink varchar(50) NULL,
	SchoolTypeId int NULL REFERENCES Detail(Id), -- govt, Pvt, etc
	LongText nvarchar(500) NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE PersonEducation
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	PersonId int NOT NULL REFERENCES Person(Id),
	SchoolId int NULL REFERENCES School(Id),
	OtherSchool varchar(50) NULL,
	FromStdId int NULL REFERENCES Detail(Id),
	ToStdId int NULL REFERENCES Detail(Id),
	MediumId int NULL REFERENCES Detail(Id),
	OtherMedium varchar(50) NULL,
	FromYear int NOT NULL,
	ToYear int NULL,
	UniversityBoardId int NULL REFERENCES Detail(Id),
	OtherUniversityBoard varchar(50) NULL,
	DegreeId int NULL REFERENCES Detail(Id),
	OtherDegree varchar(50) NULL,
	CourseId int NULL REFERENCES Detail(Id),
	OtherCourse varchar(50) NULL,
	Specialization varchar(50) NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE Organization
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	[Name] varchar(100) NOT NULL,
	AddressLine1 varchar(100) NULL,
	AddressLine2 varchar(100) NULL,
	WebLink varchar(50) NULL,
	ContactNo varchar(50) NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT 1
);

CREATE TABLE PersonFamilyDetail
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	PersonId int NOT NULL REFERENCES Person(Id),
	FirstName varchar(50) NOT NULL,
	MiddleName varchar(50) NULL,
	LastName varchar(50) NOT NULL,
	BirthDate date NULL,
	MobileNo varchar(15) NULL,
	Email varchar(50) NULL,
	OrganizationId int NULL REFERENCES Organization(Id),
	OtherOrganization varchar(50) NULL,
	SchoolName varchar(50) NULL,
	MonthlyIncome float NULL,
	RelationId int NULL REFERENCES Detail(Id),
	OtherRelation varchar(50) NULL,
	CourseId int NULL REFERENCES Detail(Id),
	OtherCourse varchar(50) NULL,
	AnyDisability varchar(100) NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE PersonHealthDetail
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	PersonId int NOT NULL REFERENCES Person(Id),
	Height float NULL,
	[Weight] float NULL,
	IQ float NULL,
	WakeUpTiming float NULL,
	SleepTiming float NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE PersonHobbyFavorite
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	PersonId int NOT NULL REFERENCES Person(Id),
	HobbyFavoriteId int NULL REFERENCES Detail(Id),
	LongText nvarchar(500) NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE PersonLanguage
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	PersonId int NOT NULL REFERENCES Person(Id),
	LanguageId int NULL REFERENCES Detail(Id),
	OtherLanguage varchar(50) NULL,
	IsMotherTongue bit NOT NULL DEFAULT 0,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE PersonPrivateInformation
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	PersonId int NOT NULL REFERENCES Person(Id),
	MaritalStatus int NOT NULL REFERENCES Detail(Id),
	AadharCardNo varchar(15) NULL,
	PANNo varchar(10) NULL,
	IsOwnBicycle bit NULL,
	ReligionId int NULL REFERENCES Detail(Id),
	OtherReligion varchar(50) NULL,
	CasteId int NULL REFERENCES Detail(Id),
	OtherCaste varchar(50) NULL,
	CategoryId int NULL REFERENCES Detail(Id),
	OtherCategory varchar(50) NULL,
	ParentalStatusId int NULL REFERENCES Detail(Id),
	OtherParentalStatus varchar(50) NULL,
	IsAlive bit NOT NULL DEFAULT(1),
	DateOfExpiry date NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE PersonSocialMediaAccount
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	PersonId int NOT NULL REFERENCES Person(Id),
	AccountTypeId int NULL REFERENCES Detail(Id),
	OtherAccountType varchar(50) NULL,
	Link varchar(50) NULL,
	TypeOfUserId int NOT NULL REFERENCES Detail(Id),
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE PersonWorkExperience
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	PersonId int NOT NULL REFERENCES Person(Id),
	OrganizationId int NULL REFERENCES Organization(Id),
	OtherOrganization varchar(100) NULL,
	WorkTypeId int NULL REFERENCES Detail(Id),	-- own, pvt service, govt service, etc
	OtherWorkType varchar(50) NULL,
	DepartmentId int NULL REFERENCES Detail(Id),
	OtherDepartment varchar(50) NULL,
	DesignationId int NULL REFERENCES Detail(Id),
	OtherDesignation varchar(50) NULL,
	FromYear int NULL,
	ToYear int NULL,
	Specialization varchar(50) NULL,
	IsFreeLance bit NULL,
	IsFullTime bit NULL,
	LongText nvarchar(500) NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE [Event]
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	[Name] varchar(50) NOT NULL,
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE EventAttendance
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	PersonId int NOT NULL REFERENCES Person(Id),
	EventId int NOT NULL REFERENCES Event(Id),
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE Ticket
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	EventId int NOT NULL REFERENCES Event(Id),
	PersonId int NOT NULL REFERENCES Person(Id),
	TicketCount int NOT NULL DEFAULT(1),
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

CREATE TABLE University
(
	Id int IDENTITY(1,1) PRIMARY KEY NOT NULL,
	[Name] varchar(50) NOT NULL,
	CityId int NOT NULL REFERENCES City(Id),
	CreatedById nvarchar(450) NOT NULL,
	CreatedAt datetime NOT NULL DEFAULT GETDATE(),
	UpdatedById nvarchar(450) NULL,
	UpdatedAt datetime NULL,
	IsActive bit NOT NULL DEFAULT(1)
);

/*
CREATE TABLE Donation
(
	Id
	Date
	Purpose
	ReceiptNo
	Log field
);
*/